<h1>Login</h1>
<%= session[:no_account_error] %>
<form action="/login" method="POST">
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username"/>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"/>
  <p>
  <input type="submit" />
</form>
<p>If you don't have an account yet,<a href='/signup'> sign up here.</a></p>
<% clear_errors %>
