<h1>Create a new jacket here</h1>
<form method="POST" action="/jackets">
  <h2>Jacket Type:</h2>
  <% if !@jacket_types.empty? %>
  <p>choose a jacket type from the list</p>
  <%@jacket_types.each do |jacket_type|%>
  <input type="checkbox" name="jacket[jacket_type]" value="<%=jacket_type%>"><%=jacket_type%></input>
    <%end%>
  <%end%>
  <h2>Create a new jacket type:</h2>
  <input type="text" name="jacket[jacket_type]" value=""></input>

  <% if !@locations.empty? %>
      <% @locations.each do |location|%>
      <input type="checkbox" name="jacket[location]" value="<%=location.id%>"><%=location.name%></input>
      <%end%>
      <%else%>
      <h2>Where will you store this jacket?</h2>
      <input type="text" name="jacket[location]" value=""></input>
  <%end%>

    <br>
  <input type="submit" value="Enter New Jacket">
  </form>
