<!-- <h1>Harley's Jacket Catalogue</h1>

<a class="button" href="/jackets">Jackets</a> -->


<h1>Welcome toJacket Tracker</h1>
  <h4>Please sign up or log in to start tracking your jackets</h4>
  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>
