<h1> Sign up for Jacket Tracker </h1>

<form action="/users" method="POST">
Enter a username
<input type="text" name="username">
Enter a password
<input type="password" name="password">
<br>
<br>
<input type="submit" value="Create account">
</form>
